---
lang: ar-sa
direction: rtl
layout: default-ar

title: ""
description: ""
social-audio: ""
social-video: ""

social-media:
  - tw-summary: ""
    tw-title: ""

permalink: "/ar/meem-locations-ar.html"
alt_url: "/en/meem-locations-en.html"

---
<div class="page_title1 stycc">
    <div class="container">
        <h1 class="editable">Our Locations <em>meem</em></h1>
    </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="content_fullwidth">

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third">
            {% include components/google/maps/riyadh-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">المركز الرئيسي</p>
            <p class="editable">مبنى التأمينات الإجتماعية<br />واحة غرناطة,<br />طريق المطار.<br />أوقات العمل الرسمي: من الساعة 09:30 الصباح إلى الساعة 04:30 المساء من يوم الأحد إلى الخميس.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third">
            {% include components/google/maps/riyadh-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">بانوراما مول<br />مقابل بوابة 2<br />شارع التخصصي.<br />أوقات العمل الرسمي:&nbsp;<br />السبت إلى الخميس: من الساعة 9 الصباح إلى 12 المساء<br />يوم الجمعة: من الساعة 1 الظهر إلى 12 المساء</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/riyadh-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">إكسترا الصحافة,<br />شارع الثمامة.<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 9 الصباح إلى 12 الظهر و من 4 العصر إلى 11 المساء<br />- يوم الجمعة: من الساعة 4 العصر إلى 11 المساء.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/riyadh-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">إكسترا الورود،<br />شارع الملك عبدالعزيز.<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 9 الصباح إلى 12 المساء.<br />- يوم الجمعة: من الساعة 4 العصر إلى 12 المساء.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">المركز الرئيسي</p>
            <p class="editable">مبنى المكاتب الخاصة،&nbsp;<br />طريق الملك سلطان.<br />أوقات العمل الرسمي: من الساعة 09:30 الصباح إلى الساعة 04:30 المساء من يوم الأحد إلى الخميس.<br />&nbsp;</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">منفذ الخدمة</p>
            <p class="editable">إكسترا طريق المطار القديم,<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 10 الصباح إلى 12 المساء.<br />- يوم الجمعة: من الساعة 5 المساء إلى 12 المساء.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">الردسي مول،<br />مقابل بوابة 2،<br />طريق الملك عبدالعزيز.<br />أوقات العمل الرسمي:<br />- السبت إلى الخميس: من الساعة 09:30 الصباح إلى 12 المساء.<br />- يوم الجمعة: من الساعة 5 المساء إلى 12 المساء.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Prince Sultan eXtra,
                <br />Sultan Mall,
                <br />Jeddah</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Dhahran</h1>
            <p class="editable">Main Store</p>
            <p class="editable">Al Kifah Tower,
                <br />Dammam-Khobar Highway,
                <br />Dhahran</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Khobar</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Al Rashid Mall,
                <br />Khobar</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Khobar</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">eXtra Store,
                <br />Khobar</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Dammam</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">eXtra Store,
                <br />Al Faisaliah,
                <br />Dammam</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />
</div>