---
lang: ar-sa
direction: rtl
layout: default-ar
title: مواقع مراكز ميم | خدمات مصرفية ذاتية
description: >-
  عندنا 12 مركز ومنفذ خدمة منتشرين في الرياض، وجدة، والدمام، والخبر، والظهران.
  بعض منافذ الخدمة تحت خدمتك حتى في الليل وطول أيام الأسبوع.
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title:
show_contact_bar: 'yes'
permalink: /ar/meem-locations-ar.html
alt_url: /en/meem-locations-en.html
sitemap:
  exclude:
---

<div class="page_title1 stycc">
    <div class="container">
        <h1 class="editable"><em><span style="font-size: 40px; text-transform: uppercase;"><b>مواقع مراكز ميم</b></span></em></h1>
    </div>
</div>

<div class="clearfix"></div>

<div class="content_fullwidth">

    <div class="container" style="margin: 10px 25px;">
        
        <div class="container">
              <p class="editable"> </p>
            </div>


        <div class="two_third">
            {% include components/google/maps/riyadh-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">فرع رئيسي</p>
            <p class="editable">مبنى التأمينات الإجتماعية<br />واحة غرناطة,<br />طريق المطار.<br /><br />أوقات العمل الرسمية خلال أيام الأسبوع (ماعدا الجمعة والسبت):<br /><br />من الساعة 09:30 صباحاً إلى الساعة 04:30 مساءاً&nbsp;<br />&nbsp;</p>
            <h3 class="editable">أوقات العمل خلال شهر رمضان المبارك</h3>
            <p class="editable">الأحد الى الخميس<br />من الساعة 10 صباحاً حتى الساعة 4 مساءًً<br /></p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="container">
            <p class="editable"> </p>
        </div>


        <div class="two_third">
            {% include components/google/maps/nakheel-mall.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">فرع مجمع تجاري</p>
            <p class="editable">النخيل مول<br />بوابة 3<br />مخرج 9، طريق الإمام سعود بن عبدالعزيز<br /><br />اوقات العمل الرسمية في الفرع:<br /><br />السبت إلى الخميس: من الساعة 2:00 عصراً إلى 10:00 مساءاً<br />الجمعة: من الساعة: 4:00 مساءاً الى 11:00 مساءاً&nbsp;</p>
            <h3 class="editable">أوقات العمل خلال شهر رمضان المبارك</h3>
            <p class="editable">طوال أيام الأسبوعً<br />الفترة الصباحية: من الساعة 3:30 مساءًً حتى 5:30 مساءًً<br /> الفترة المسائية: من الساعة 9 مساءً حتى 1 صباحاً<br /></p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">فرع رئيسي</p>
            <p class="editable">
                مبنى المكاتب الخاصة،&nbsp;<br />طريق الأمير سلطان.<br /><br />أوقات العمل الرسمية خلال أيام الأسبوع (ماعدا الجمعة والسبت):<br /><br />​من الساعة 09:30 صباحاً إلى الساعة 04:30 مساءً&nbsp;
            </p>
            <h3 class="editable">أوقات العمل خلال شهر رمضان المبارك</h3>
            <p class="editable">
                الأحد الى الخميس<br />من الساعة 10 صباحاً حتى الساعة 4 مساءً
            </p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <!--<div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">فرع</p>
            <p class="editable">الردسي مول،<br />مقابل بوابة 2،<br />طريق الملك عبدالعزيز.<br /><br /><span dir="RTL">كجزء من خطتنا التوسعية نود التنويه أنه تم إغلاق منفذ الخدمة في الردسي مول </span><span dir="RTL">وسيتم الإعلان عن افتتاح فرعنا الجديد قريباً.</span><strong><span dir="RTL"><strong><span dir="RTL"></span></strong></span></strong><br /><br /><br />لإستكمال إجراءات فتح الحساب يرجى زيارة الفرع الرئيسي</p>
        </div>

     -->

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/aziz-mall.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">فرع مجمع تجاري</p>
            <p class="editable">
                عزيز مول&nbsp;<br /><br />بوابة 5<br />الطابق الأول<br /><br />شارع الأمير ماجد، الفيصلية<br /><br />اوقات العمل الرسمية في الفرع:<br /><br />السبت إلى الخميس: من الساعة 2:00 عصراً إلى 10:00 مساءً<br />الجمعة: من الساعة: 4:00 مساءاً الى 11:00 مساءً
            </p>
            <h3 class="editable">أوقات العمل خلال شهر رمضان المبارك</h3>
            <p class="editable">
                طوال أيام الأسبوعً<br />الفترة الصباحية: من الساعة 3:30 مساءً حتى 5:30 مساءً<br />الفترة المسائية: من الساعة 9:30 مساءً حتى 1:30 صباحاً
            </p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">جدة</h1>
            <p class="editable">فرع مجمع تجاري</p>
            <p class="editable">
                الردسي مول،<br />بوابة 4<br /><br />طريق الملك عبدالعزيز<br /><br /><br />اوقات العمل الرسمية في الفرع:<br /><br />السبت إلى الخميس: من الساعة 2:00 عصراً إلى 10:00 مساءً<br />الجمعة: من الساعة: 4:00 مساءاً الى 11:00 مساءً&nbsp;
            </p>
            <h3 class="editable">أوقات العمل خلال شهر رمضان المبارك</h3>
            <p class="editable">
                طوال أيام الأسبوعً<br />الفترة الصباحية: من الساعة 3:30 مساءً حتى 5:30 مساءًً<br />الفترة المسائية: من الساعة 9:30 مساءً حتى 1:30 صباحاً
            </p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الظهران</h1>
            <p class="editable">فرع رئيسي</p>
            <p class="editable">
                برج الكفاح<br />طريق الدمام - الخبر السريع<br /><br />أوقات العمل الرسمية خلال أيام الأسبوع (ماعدا الجمعة والسبت):<br /><br />​من الساعة 09:30 صباحاً إلى الساعة 04:30 مساءً&nbsp;<br />&nbsp;
            </p>
            <h3 class="editable">أوقات العمل خلال شهر رمضان المبارك</h3>
            <p class="editable">
                الأحد الى الخميس<br />من الساعة 10 صباحاً حتى الساعة 4 مساءً
            </p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/dhahran-mall.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الظهران</h1>
            <p class="editable">فرع مجمع تجاري</p>
            <p class="editable">
                مجمع الظهران بوليفارد<br /><br />بوابة 7<br />حي الدوحة الجنوبية، الظهران<br /><br /><br />اوقات العمل الرسمية في الفرع:<br /><br />السبت إلى الخميس: من الساعة 2:00 عصراً إلى 10:00 مساءً<br />الجمعة: من الساعة: 4:00 مساءً الى 11:00 مساءً&nbsp;
            </p>
            <h3 class="editable">أوقات العمل خلال شهر رمضان المبارك</h3>
            <p class="editable">
                طوال أيام الأسبوع<br />الفترة الصباحية: من الساعة 3 مساءً حتى 5 مساءً<br />الفترة المسائية: من الساعة 9 مساءً حتى 1 صباحاً
            </p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano4.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الدمام</h1>
            <p class="editable">فرع مجمع تجاري</p>
            <p class="editable">
                مجمع الشاطئ<br /><br />بوابة 1<br />الطابق الأول<br /><br />حي الشاطئ، تقاطع شارع الأمير محمد بن فهد و شارع الأشرعة.<br /><br /><span dir="RTL">اوقات العمل الرسمية في الفرع:<br /><br />السبت إلى الخميس: من الساعة 12:00 عصراً إلى 08:00 مساءً</span><br /><br /><span dir="rtl">الجمعة: من الساعة: 4:00 مساءاً الى 11:00 مساءً</span>
            </p>
            <h3 class="editable">أوقات العمل خلال شهر رمضان المبارك</h3>
            <p class="editable">طوال أيام الأسبوعً<br />الفترة الصباحية: من الساعة 3 مساءً حتى 5 مساءًً<br />الفترة المسائية: من الساعة 9 مساءً حتى 1 صباحاً<br /></p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />
