---
lang: ar-sa
direction: rtl
layout: default-ar

title: ""
description: ""
social-audio: ""
social-video: ""

social-media:
  - tw-summary: ""
    tw-title: ""

permalink: "/ar/meem-locations-ar.html"
alt_url: "/en/meem-locations-en.html"

---
<div class="page_title1 stycc">
    <div class="container">
        <h1 class="editable">Our Locations <em>meem</em></h1>
    </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="content_fullwidth">

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third">
            {% include components/google/maps/riyadh-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">المركز الرئيسي</p>
            <p class="editable">مبنى التأمينات الإجتماعية<br />واحة غرناطة,<br />طريق المطار.<br />أوقات العمل الرسمي: من الساعة 09:30 صباحا إلى الساعة 04:30 مساءا من يوم الأحد إلى الخميس.</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third">
            {% include components/google/maps/riyadh-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">الرياض</h1>
            <p class="editable">منفذ خدمة</p>
            <p class="editable">بانوراما مول<br />مقابل بوابة 2<br />شارع التخصصي.<br />أوقات العمل الرسمي:&nbsp;<br />السبت إلى الخميس: من الساعة 9 الصباح إلى 12 المساء<br />يوم الجمعة: من الساعة 1 الظهر إلى 12 المساء</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/riyadh-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Riyadh</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Sahafa eXtra Store,
                <br />Al Sahafa,
                <br />Thumama Road,
                <br />Riyadh</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/riyadh-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Riyadh</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Wurood eXtra Store,
                <br />Worood,
                <br />King AbdulAziz Street,
                <br />Riyadh</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Main Store</p>
            <p class="editable">Prince Sultan Road,
                <br />In front of the Saudi Airlines Club Gate
                <br />Jeddah</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Old Airport Road eXtra Store,
                <br />Abdullah Sulayman,
                <br />next to SABB,
                <br />Riyadh</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Red Sea Mall,
                <br />King Abdulaziz Branch Road,
                <br />Jeddah</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/jeddah-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Prince Sultan eXtra,
                <br />Sultan Mall,
                <br />Jeddah</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-store.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Dhahran</h1>
            <p class="editable">Main Store</p>
            <p class="editable">Al Kifah Tower,
                <br />Dammam-Khobar Highway,
                <br />Dhahran</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano1.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Khobar</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">Al Rashid Mall,
                <br />Khobar</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano2.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Khobar</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">eXtra Store,
                <br />Khobar</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="two_third ">
            {% include components/google/maps/eastern-meem-nano3.html %}
        </div>

        <div class="one_third last">
            <h1 class="editable">Dammam</h1>
            <p class="editable">Nano Store</p>
            <p class="editable">eXtra Store,
                <br />Al Faisaliah,
                <br />Dammam</p>
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />
</div>