---
lang: en-us
layout: default-en
title: Store Locator
description: >-
  You can find us in Riyadh, Jeddah, Dammam, Dhahran, and Khobar. Click to find
  meem's store locations and business working hours.
social-audio:
social-video:
social-media:
  - tw-summary:
    tw-title: meem | Our Stores and locations
show_contact_bar: 'yes'
permalink: /en/meem-locations-en.html
alt_url: /ar/meem-locations-ar.html
sitemap:
  exclude:
---
<div class="page_title1 stycc">
    <div class="container">
        <h1 class="editable">meem Locations <em></em></h1>
    </div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="content_fullwidth">
    
    <div class="container">
        <p class="editable">&nbsp;</p>
    </div>
 
 
    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Riyadh</h1>
            <p class="editable">Main Branch</p>
            <p class="editable">Ash Shuhada,<br />Airport Road,<br />Ash Shuhada<br /><br />Official working hours during weekdays (Except Saturday and Friday)<br /><br />from 09:30 am to 04:30 pm.<br />&nbsp;</p>
        </div>

        <div class="two_third last">
           {% include components/google/maps/riyadh-meem-store.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Riyadh</h1>
            <p class="editable">In Mall Branch</p>
            <p class="editable">Nakheel Mall<br />Gate 3<br /><br />Exit 9, Al Imam Saud Ibn Abdul Aziz<br /><br />Branch working hours:<br />2:00 pm to 10:00 pm from Saturday to Thursday<br />4:00 pm to 11:00 pm Friday<br />&nbsp;</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/nakheel-mall.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Main Branch</p>
            <p class="editable">Prince Sultan Road,<br />In front of the Saudi Airlines Club Gate<br /><br />Official working hours during weekdays (Except Saturday and Friday)<br /><br />from 09:30 am to 04:30 pm.<br />&nbsp;</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/jeddah-meem-store.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">Branch</p>
            <p class="editable">Red Sea Mall,<br />King Abdulaziz Branch Road,<br /><br />As part of our expansion plan we would like to point out that Red Sea Mall branch has been closed.<br />The opening of our new branch will be announced soon.<br /><br />*To complete account opening please visit the main branch.</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/jeddah-meem-nano2.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">In Mall Branch</p>
            <p class="editable">Aziz Mall<br /><br />Gate 5, 1st Floor<br /><br />Prince Majid Road, Al Faisaliyah<br /><br />Branch working hours:<br /><br />2:00 pm to 10:00 pm from Saturday to Thursday<br /><br />​​​​​​​4:00 pm to 11:00 pm Friday</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/aziz-mall.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Jeddah</h1>
            <p class="editable">In Mall Branch</p>
            <p class="editable">Red Sea Mall<br /><br />Gate 4<br />King Abdulaziz Branch Road<br /><br />Branch working hours:<br />2:00 pm to 10:00 pm from Saturday to Thursday<br />4:00 pm to 11:00 pm Friday</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/jeddah-meem-nano2.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Dhahran</h1>
            <p class="editable">Main Branch</p>
            <p class="editable">Al Kifah Tower,<br />Dammam-Khobar Highway,<br /><br />Official working hours during weekdays (Except Saturday and Friday)<br /><br />from 09:30 am to 04:30 pm.<br />&nbsp;</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/eastern-meem-store.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Dhahran</h1>
            <p class="editable">In Mall Branch</p>
            <p class="editable">Mall of Dhahran Boulevard<br /><br />Gate 7<br />Doha Al Janubiyah, Dhahran<br /><br />Branch working hours:<br />2:00 pm to 10:00 pm from Saturday to Thursday<br />4:00 pm to 11:00 pm Friday</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/dhahran-mall.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />

    <div class="container" style="margin: 10px 25px;">

        <div class="one_third">
            <h1 class="editable">Dammam</h1>
            <p class="editable">In Mall Branch</p>
            <p class="editable">Al Shatea Mall,<br /><br />1st floor<br />Ash Shati Ash Sharqi, Al Ashriah&nbsp;<br /><br /><br />Branch working hours:<br />2:00 pm to 10:00 pm from Saturday to Thursday<br />​​​​​​​4:00 pm to 11:00 pm Friday</p>
        </div>

        <div class="two_third last">
            {% include components/google/maps/eastern-meem-nano4.html %}
        </div>

    </div>

    <hr style="width: 95%; margin: 0 auto;" />
</div>