<link rel="canonical" href="http://www.meem.com/"/>
<noscript>
    <meta http-equiv="refresh" content="70;URL=http://online.meem.sa/default.aspx?startpage=onboarding&culture=us">
</noscript>
<!--[if lt IE 9]><script type="text/javascript">var IE_fix=true;</script><![endif]-->
<script type="text/javascript">
    var url = "http://online.meem.sa/default.aspx?startpage=onboarding&culture=us";
    var delay = "70000";
    window.onload = function ()
    {
        setTimeout(GoToURL, delay);
    }
    function GoToURL()
    {
        if(typeof IE_fix != "undefined") // IE8 and lower fix to pass the http referer
        {
            var referLink = document.createElement("a");
            referLink.href = url;
            document.body.appendChild(referLink);
            referLink.click();
        }
        else { window.location.replace(url); } // All other browsers
    }
</script>