{% comment %} ######### JS FILES ######### {% endcomment %}
<!-- get jQuery used for the theme -->
<script type="text/javascript" src="/resources/scripts/universal/jquery.js"></script>
<script type="text/javascript" src="/resources/scripts/style-switcher/styleselector.js"></script>
<script type="text/javascript" src="/resources/scripts/animations/js/animations.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/plugins/ScrollToPlugin.min.js"></script>
<script>
    // init controller
    var controller = new ScrollMagic.Controller();

    // build tween
    var tween = TweenMax.from("#mslider", 0.5, {autoAlpha: 0, scale: 0.7});

    // build scene
    var scene = new ScrollMagic.Scene({triggerElement: "a#learn_more", duration: 200, triggerHook: "onLeave"})
            .setTween(tween)
            .addIndicators() // add indicators (requires plugin)
            .addTo(controller);

    // change behaviour of controller to animate scroll instead of jump
    controller.scrollTo(function (newpos) {
        TweenMax.to(window, 0.5, {scrollTo: {y: newpos}});
    });

    //  bind scroll to anchor links
    $(document).on("click", "a[href^='#']", function (e) {
        var id = $(this).attr("href");
        if ($(id).length > 0) {
            e.preventDefault();

            // trigger scroll
            controller.scrollTo(id);

            // if supported by the browser we can even update the URL.
            if (window.history && window.history.pushState) {
                history.pushState("", document.title, id);
            }
        }
    });
</script>
<script type="text/javascript" src="/resources/scripts/mainmenu/bootstrap.min.js"></script>
<script type="text/javascript" src="/resources/scripts/mainmenu/customeUI.js"></script>
<script type="text/javascript" src="/resources/scripts/masterslider/jquery.easing.min.js"></script>
<script type="text/javascript" src="/resources/scripts/masterslider/masterslider.min.js"></script>
<script type="text/javascript">
    (function($) {
        "use strict";
        var slider = new MasterSlider();
        // adds Arrows navigation control to the slider.
        slider.control('arrows');
        slider.control('bullets');

        slider.setup('masterslider' , {
            width:1400,    // slider standard width
            height:900,   // slider standard height
            space:0,
            speed:27,
            layout:'fullwidth',
            loop:true,
            preload:0,
            autoplay:true,
            view:"wave"
        });
    })(jQuery);
</script>
<script type="text/javascript" src="/resources/scripts/scrolltotop/totop.js"></script>
<script type="text/javascript" src="/resources/scripts/mainmenu/sticky.js"></script>
<script type="text/javascript" src="/resources/scripts/mainmenu/modernizr.custom.75180.js"></script>
<script type="text/javascript" src="/resources/scripts/cubeportfolio/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="/resources/scripts/cubeportfolio/main3.js"></script>
<script type="text/javascript" src="/resources/scripts/aninum/jquery.animateNumber.min.js"></script>
<script type="text/javascript" src="/resources/scripts/carouselowl/owl.carousel.js"></script>
<script type="text/javascript" src="/resources/scripts/accordion/jquery.accordion.js"></script>
<script type="text/javascript" src="/resources/scripts/accordion/custom.js"></script>
<script type="text/javascript" src="/resources/scripts/universal/custom.js"></script>

</body>
</html>