
{% comment %} Live Chat link block {% endcomment %}
<div class="featured_section31">
    <div class="container">
        <h2 class="animate" data-anim-type="fadeIn" data-anim-delay="200"><a href="#"><strong>9200 2 6336</strong> أي سؤال على رقم<i class="fa fa-comments"></i></a></h2>
        <h2 class="animate" data-anim-type="fadeIn" data-anim-delay="400"><strong>9200 2 6336</strong> أي سؤال على رقم<i class="fa fa-phone"></i></h2>
        <h2 class="animate" data-anim-type="fadeIn" data-anim-delay="600"><a  href="mailto:q@meem.com"><strong>9200 2 6336</strong> أي سؤال على رقم<i class="fa fa-envelope-o"></i></a></h2>
    </div>
</div>{% comment %} end contact number block {% endcomment %}

<div class="clearfix"></div>