{% comment %} footer block lang=ar-sa {% endcomment %}
<footer class="footer4">
    <div class="container">

        <div class="fmlinks">
            <a class="editable" href="http://www.gib.com" target="_blank">بنك الخليج الدولي</a>
            <a class="editable" href="/ar/meem-customer-care-ar.html">صوت العميل</a>
            <a class="editable" href="https://www.gib.com/ar/%D8%A7%D9%84%D8%B5%D9%81%D8%AD%D8%A9-%D8%A7%D9%84%D8%B1%D8%A6%D9%8A%D8%B3%D9%8A%D8%A9" target="_blank">التوظيف</a>
            <a class="editable" href="/2018-Meem-Marketing-Products-Fees-Charges-AR.pdf" target="_blank">جدول الرسوم</a>
            <a class="editable" href="/Meem-Consumer-Protection-Document-Arabic.pdf" target="_blank">حماية العملاء</a>
            <a class="editable" href="/ar/meem-locations-ar.html">مراكزنا</a>
            <a class="editable" href="/ar/national-address-ar.html">العنوان الوطني</a>
            <a class="editable" href="http://vat.gov.sa/" target="_blank">ضريبة القيمة المضافة</a>
        </div>

        <a href="/Meem-Consumer-Protection-Document-Arabic.pdf" class="editable">حماية العملاء</a> | <a href="/ar/meem-customer-care-ar.html" class="editable">سياسة الخصوصية</a>   .meem.com جميع حقوق التأليف والنشر © 2018

        <div class="footer_social_links4">
            <a href="https://www.facebook.com/Meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="100" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/Meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/Meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="100" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCdKLB_qXzHSe69CJiWb6fbQ" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="https://plus.google.com/+meem" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.linkedin.com/company/meem-" class="animate editable" data-anim-type="zoomIn" data-anim-delay="150" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>

    </div>{% comment %} end footer block {% endcomment %}
</footer>

<a href="#" class="scrollup">Scroll</a>{% comment %} end scroll to top of the page {% endcomment %}

 {% comment %} close page wrapper {% endcomment %}
