
{% comment %} Live Chat link block {% endcomment %}
<div class="featured_section31">
    <div class="container">
        <div class="one_half">
            <h2 class="animate" data-anim-type="fadeIn" data-anim-delay="400">
                <i class="fa fa-phone"></i> <strong>Call us 920026336</strong>
            </h2>
        </div>

        <div class="one_half last">
            <h2 class="animate" data-anim-type="fadeIn" data-anim-delay="600">
                <a href="mailto:q@meem.com"><i class="fa fa-envelope-o"></i> <strong>Email q@meem.com</strong></a>
            </h2>
        </div>
    </div>
</div>{% comment %} end contact number block {% endcomment %}

<div class="clearfix"></div>