<div class="newsletter2">
    <div class="container">
        {% for element in page.newsletter %}
        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="200">
            <h2 class="roboto">{{ element.subscribe-text }}</h2>
        </div>

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <form method="get" action="{{ element.form-action_link }}">
                <input class="enter_email_input" name="enquiry-email" id="enquiry-email" value="" onFocus="if(this.value == '{{ element.form-input-field-comment }}') {this.value = '';}" onBlur="if (this.value == '') {this.value = '{{ element.form-input-field-comment }}';}" type="text">
                <input name="" value="{{ element.form-subscribe-button-text }}" class="input_submit" type="submit">
            </form>

        </div>
        {% endfor %}
    </div>
</div>