<div class="newsletter2">
    <div class="container">
        {% for element in page.newsletter %}
        <div class="one_half animate" data-anim-type="fadeInLeft" data-anim-delay="200">
            <h2 class="roboto">{{ element.subscribe-text }}</h2>
        </div>

        <div class="one_half last animate" data-anim-type="fadeInRight" data-anim-delay="300">

            <form action="//meem.us8.list-manage.com/subscribe/post?u=71634b7b1bf84cec57eb90f41&amp;id=f75f0d38b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="required email enter_email_input" id="mce-EMAIL">
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_71634b7b1bf84cec57eb90f41_f75f0d38b2" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button input_submit"></div>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

        </div>
        {% endfor %}
    </div>
</div>
