<div class="featured_section31">
    <div class="container">
        <h4 class="" style="margin-bottom: 40px;">Never miss meem's offers and promotions. Subscribe to our mailing list.</h4>

        <div class="one_half">
            <form type="POST" id="gsr-subscribe" onsubmit="return valid_datas( this );">
                <label class="label editable">E-mail <em>*</em></label>
                <label class="input">
                    <input type="email" name="email" id="email" class="emailtxt" />
                </label>
        </div>
        <div class="one_half last">
            <input type="hidden" name="token" value="FsWga4&@f6aw" />
            <button type="submit" class="button eight green">Subscribe Now</button>
            </form>
        </div>

        <div class="clearfix"></div>

        <h4 class="">OR<br>Follow us on our Social Media channels below</h4>
    </div>
</div>